In [6]:
import numpy as np
import scipy.stats as ss
import pandas as pd

In [43]:
dfs = [1,2,3,4,5,10,20]
ps = np.linspace(1, 20, 9)

In [44]:
table = np.zeros((len(dfs), len(ps)))

In [45]:
for i in range(len(dfs)):
    for j in range(len(ps)):
        table[i,j] = ss.chi2(df = dfs[i]).cdf(ps[j]).round(4)

In [49]:
ss.norm?

In [46]:
pd.DataFrame(table)

        0       1       2       3       4       5       6       7       8
0  0.6827  0.9338  0.9835  0.9956  0.9988  0.9997  0.9999  1.0000  1.0000
1  0.3935  0.8150  0.9436  0.9828  0.9948  0.9984  0.9995  0.9999  1.0000
2  0.1987  0.6627  0.8756  0.9565  0.9852  0.9951  0.9984  0.9995  0.9998
3  0.0902  0.5029  0.7814  0.9129  0.9672  0.9881  0.9958  0.9985  0.9995
4  0.0374  0.3576  0.6687  0.8505  0.9378  0.9754  0.9907  0.9965  0.9988
5  0.0002  0.0288  0.1642  0.3834  0.6022  0.7693  0.8768  0.9384  0.9707
6  0.0000  0.0000  0.0008  0.0090  0.0418  0.1173  0.2381  0.3879  0.5421